.DishMainDiv,
.DishInfo,
.DishAmount {
    display: flex;
}

.DishInfo,
.DishAmount {
    flex-direction: column;
}

.DishMainDiv {
    justify-content: space-between;
    background-color: rgb(248, 243, 215);
    padding: 1rem;
}

.amountLbl {
    margin-right: 0.5rem;
}

.addBtn {
    margin-top: 1rem;
    border-radius: 25px;
    background-color: rgb(175, 29, 29);
    border-color: rgb(175, 29, 29);
    width: 6rem;
    font-weight: 700;
}

.addBtn:hover {
    background-color:  rgb(78, 0, 0);
    border-color:  rgb(78, 0, 0);
}

.btnCenter{
    text-align: center;
}

.name {
    font-size: large;
}

.des {
    font-style: italic;
}

.price {
    color: rgb(175, 29, 29);
}

.name,
.amountLbl,
.price {
    font-weight: 700;
}

#quantity {
    text-align: center;
}